.answer- {
    color: #7ececc;
    width: 30%;
    margin-bottom: 1rem;
    cursor: pointer;
    background: white;
    border: 1px solid #7ececc;
    outline: none;
}

.answer-:hover {
    color: white;
    background: #7ececc;
}

.answer-selected {
    color: white;
    width: 30%;
    margin-bottom: 1rem;
    cursor: pointer;
    background: #7ececc;
    border: 1px solid #7ececc;
    outline: none;
}
