.answer- {
    color: #7ececc;
    width: 30%;
    margin-bottom: 1rem;
    cursor: pointer;
    background: white;
    border-color: #7ECECC;
    font-size: 19px;
    padding: 10px;
    text-align: center;
    border: 1px solid;
    outline: none;
}

.answer-:hover {
    color: white;
    background: #7ececc;
}

.answer-selected {
    color: white;
    width: 30%;
    margin-bottom: 1rem;
    cursor: pointer;
    background: #7ECECC;
    border-color: #7ECECC;
    font-size: 19px;
    padding: 10px;
    text-align: center;
    border: 1px solid;
    outline: none;
}
